{% extends "home.html" %}
{% load static %}
{% block about %}
    <!-- Post Details -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="post">
                        <img src="{{ post.image.url }}" class="post-image img-fluid mb-3" alt="{{ post.title }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <p class="post-date"><small class="text-muted">Publicado em: {{ post.published_date }}</small></p>
                        <p class="post-content">{{ post.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block slider %}
    <h2 class="post-title">{{ post.title }}</h2>
{% endblock %}

